*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    text-align: center;
    border:none;
}

:root{
    --purple: #783aed;
}

.home-container{
    background-color: black;
}

.home-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-box{
    width: 100%;
    height: 100vh;
}

.home-content{
    display: flex;
    justify-content: center;
}

