@keyframes clock {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
     
     to{
         transform: translateX(0%);
     }
 }
 
 @keyframes picture {
 
     100%{
         opacity: 1;
     }
 }
 
 @keyframes input {
 
     to{
         transform: translateY(-100%);
         opacity: 1;
     }
 }
 
 @keyframes title {
 
     0%{
         transform: translateY(0%);
     }
 
     50%{
         transform: translateY(-30%);
     }
 
     100%{
         transform: translateY(0%);
         opacity: 1;
     }
 }