*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-container{
    width: 100%;
    min-height: 100vh;
}

h1{
    position: absolute;
    text-transform: uppercase;
    font-size: 10rem;
    -webkit-box-reflect: below -70px linear-gradient(to bottom, transparent, transparent, transparent, rgba(255,255,255, 0.4));
}

.logo{
    position: relative;
}

#clock-pic{
    width: 700px;
    animation: clock 2s .1s ease forwards;
}

#updatePic{
    position: absolute;
    width: 250px;
    height: 250px;
    clip-path: circle();
    animation: picture 1s 2s forwards;
    opacity: 0;
}

#profilePic{
    width: 100%;
    min-height: 100%;
    display: grid;
    place-items: center;
}

#btn-file{
    position: absolute;
    width: 100%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
}

#textName{
    width: 250px;
    margin: 2rem auto;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    text-transform: capitalize;
    outline: none;
    animation: input 1s 2s forwards;
    opacity: 0;
}

::placeholder{
    text-transform: uppercase;
    font-size: 1rem;
}

#btn-enter{
    padding:.2rem 2.5rem;
    font-size: 1.5rem;
    border:2px solid #F9A11C;
    border-radius: 2rem;
    background-color: transparent;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.1s ease;
    animation: input 1s 3s forwards;
    opacity: 0;
}

#btn-enter:hover{
    color: #fff;
    background-color: #F9A11C;
}
#file{
    display: none;
}


@keyframes clock {
   from{
       opacity: 0;
       transform: translateX(-100%);
   }
    
    to{
        transform: translateX(0%);
    }
}

@keyframes picture {

    100%{
        opacity: 1;
    }
}

@keyframes input {

    to{
        transform: translateY(-100%);
        opacity: 1;
    }
}
