/*Home*/
#title{
    font: 9.5rem 'Train One', cursive;
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    -webkit-box-reflect: below -70px linear-gradient(to bottom, transparent, transparent, rgba(255,255,255, 0.4));
}

#updatePic{
    width: 250px;
    height: 250px;
    clip-path: circle();
}

#profilePic{
    width: 100%;
    min-height: 100%;
}

#btn-file{
    width: 100%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 1rem;
    color: var(--white);
    background-color: var(--shadow);
}

#textName{
    width: 260px;
    margin: 2rem auto;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
}

::placeholder{
    text-transform: uppercase;
    font-size: 1rem;
}

#btn-enter{
    padding:.2rem 2.5rem;
    font-size: 1.5rem;
    border:2px solid var(--yellow);
    border-radius: 2rem;
    background-color: transparent;
    box-shadow: 0px 5px 5px var(--shadow);
}

#btn-enter:hover{
    color: #fff;
    border:2px solid var(--pink);
    background-color: var(--pink);
}

/*Main Page*/

.photoDiv{
    position: relative;
    width: 300px;
    height: 300px;
    border:1px solid var(--yellow);
    box-shadow: 0px 0px 10px var(--yellow);
    display: grid;
    place-content: center;
    border-radius: 50%;
}

#profilePhoto{
    width: 250px;
    clip-path: circle();
}

.icon{
    position: relative;
    width: 3rem;
    border-radius: 50%;
    transition: .4s;
}

.linkedin-icon{
    bottom: 70px;
    left: -70px;
}

.github-icon{
    bottom: 2rem;
    left: -70px;
}

.instagram-icon{
    bottom: 15px;
    left: -55px;
}

.icon:hover{
    transform: translateY(-10px);
}

#listContent{
    margin: 2rem 4rem;
    display: flex;
}

#input-List, #time{
    padding: 5px;
    font-size: 1.8rem;
    border-radius: 1.5rem;
}

#btn-add > img{
    width: 3rem;
}

li{
    margin: 0 10px;
    padding: 1rem;
    background-color: var(--pink);
    border-radius: 1rem;
    color: white;
    box-shadow: 0px 2px 5px  var(--shadow);
    transition: .1s
}

